/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2016, 9:22:08 PM
    Author     : nguyenngocanhminh
*/


.news-title {
  margin-left: 0;
  margin-right: 0;
}

#effect-news {
  margin-left: 0;
  margin-right: 0;
}

.group-tabs .custom-tab{
  padding: 0;
}

.custom-tnk .tab-content .custom-tnk-content {
    font-size: 16px;
    line-height: 1.75;
    color: #151515;
    font-weight: lighter;
}

.custom-tnk .tab-content .custom-tnk-content h3 {
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.custom-tnk .tab-content .custom-tnk-content p {
    font-size: 16px;
    line-height: 1.75;
    color: #151515;
}

.custom-tnk .tab-content .custom-tnk-content ul {
  padding-left: 30px;
}

.custom-tnk .tab-content .custom-tnk-content ul li {
    position: relative;
    margin: 5px 0 0 10px;
    font-size: 16px;
}

.custom-tnk .tab-content .custom-tnk-content ul li:before {
    display: inline-block;
    position:absolute;
    left: -30px;
    width: 10px;
    height: 100%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin: 5px 13px 0 0;
    color: #7dbe35;
    content: "\f00c";
}

.client-info p.custom-info {
  line-height: 22px;
  font-size: 14px;
}