body {
  /*padding-top: 70px;*/
  font-family: "Roboto", sans-serif; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  font-size: 16px;
  line-height: 1.75;
  color: #151515; }

a {
  outline: 0;
  color: #151515; }
  a:hover, a:focus, a:active, a.active {
    color: #3fa0cc; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #33a9e0; }

ul {
  list-style: none; }

/*------------------------ 
  Overwrite btn class of bootstrap 
   ---------------------*/
.btn-primary {
  color: #fff;
  background-color: #33a9e0;
  border-color: #33a9e0;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #3094c1;
    border-color: #3094c1; }
  .btn-primary:active, .btn-primary.active {
    background-image: none; }

/*------------------------ 
        Navigation Bar
   ---------------------*/
.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .container {
    width: 100%; }
  .navbar-default .navbar-brand {
    color: #fed136; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #fec503; }
    .navbar-default .navbar-brand img {
      width: 73px;
      margin-top: -22px; }
  .navbar-default .mobi-logo {
    margin: -5px 0 0 5px; }
    .navbar-default .mobi-logo img {
      width: 100%;
      margin-top: 0; }
  .navbar-default .navbar-collapse {
    /*margin-top: 5px;*/
    margin-top: 0px;
    border-color: rgba(255, 255, 255, 0.02); }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: transparent;
      font-size: 25px; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: transparent; }
  .navbar-default .navbar-nav li a {
    color: #151515;
    /*letter-spacing: 2px;*/
    font-size: 15px;
    padding: 15px 7px; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
      outline: 0;
      color: #3fa0cc; }
    .navbar-default .navbar-nav li a.mobi-element {
      display: none; }
  .navbar-default .navbar-nav .active a {
    border-radius: 0;
    color: #3fa0cc; }
    .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
      color: #3fa0cc; }
  .navbar-default .navbar-actions {
    float: right;
    margin-top: -40px; }
    .navbar-default .navbar-actions .navbar-social {
      margin-right: 10px;
      font-size: 18px;
      color: #707071; }
    .navbar-default .navbar-actions .btn-register {
      margin-left: 10px;
      padding: 5px 20px;
      font-weight: 500;
      font-size: 15px;
      text-transform: none; }
    .navbar-default .navbar-actions .hotline {
      color: #3fa0cc;
      font-size: 15px; }

.narbar-mobile {
  background-color: rgba(63, 159, 205, 0.9); }

.narbar-desk {
  background-color: #fff; }

.desk-element {
  display: block; }

.mobi-element {
  display: none; }

/*------------------------ 
        Header 
   ---------------------*/
header {
  background-color: #ebf7fc; }
  header.intro-header {
    /*background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    margin-bottom: 50px; }

div.main-content {
  background: url("../img/background/background.jpg") repeat-x;
  /*margin-top: 25px;*/
  border-top: 1px solid #3f9fcc; }

.search-bar {
  margin: 75px 0 20px; }
  .search-bar .input-search {
    width: 70%;
    float: right;
    text-align: center;
    height: 50px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
    box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); }
  .search-bar .btn-search {
    padding: 13px 35px;
    border-radius: 30px;
    text-transform: none;
    font-weight: 500;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
    box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); }

.sub-menu {
  margin-top: 100px; }
  .sub-menu ul.nav-pills li {
    color: #006993;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px #3094c1 solid; }
    .sub-menu ul.nav-pills li i {
      float: left;
      /* padding: 25px 0 0;*/
      padding: 21px 0 0; }
    .sub-menu ul.nav-pills li a {
      color: #006993;
      background-color: transparent;
      padding: 20px 25px; }
      .sub-menu ul.nav-pills li a:hover {
        background-color: transparent;
        color: #33a9e0; }
    .sub-menu ul.nav-pills li.active a, .sub-menu ul.nav-pills li.active i {
      background-color: transparent;
      color: #33a9e0; }
      .sub-menu ul.nav-pills li.active a:hover, .sub-menu ul.nav-pills li.active i:hover {
        background-color: transparent;
        color: #33a9e0; }

.sub-content i, .group-tabs .tab-content .two-col .sub-content i {
  font-size: 18px;
  float: left;
  color: #006993; }
.sub-content h2, .group-tabs .tab-content .two-col .sub-content h2 {
  color: #006993;
  font-size: 20px;
  font-weight: bold; }

.sub-content .panel-item {
  border: none;
  background: transparent;
  box-shadow: none; }
  .sub-content .panel-item .panel-heading {
    background: transparent;
    border-bottom: 1px solid #bababa;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 0px; }
    .sub-content .panel-item .panel-heading a {
      text-decoration: none; }
    .sub-content .panel-item .panel-heading.show-heading {
      display: block; }
      .sub-content .panel-item .panel-heading.show-heading .mobi-element {
        display: none; }
    .sub-content .panel-item .panel-heading.hide-heading {
      display: none; }
    .sub-content .panel-item .panel-heading i.indicator {
      margin: 0; }
  .sub-content .panel-item .panel-collapse .panel-body {
    border-top: none;
    border-bottom: 1px solid #bababa;
    padding: 0 30px; }
    .sub-content .panel-item .panel-collapse .panel-body h4 {
      font-size: 16px;
      color: #151515; }
    .sub-content .panel-item .panel-collapse .panel-body p {
      font-weight: lighter; }

.content-body h1 {
  padding: 20px 0;
  border-bottom: 1px #3094c1 solid; }

.group-tabs .tabs-menu {
  border-bottom: none; }
  .group-tabs .tabs-menu li {
    width: 20%;
    margin-left: 0;
    background-color: #fff;
    height: 150px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
    box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); }
    .group-tabs .tabs-menu li.active a {
      background-color: #fff;
      border: 1px solid #33a9e0; }
    .group-tabs .tabs-menu li a {
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 0; }
      .group-tabs .tabs-menu li a .tab-icon {
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0px;
        top: 0px;
        text-align: center; }
        .group-tabs .tabs-menu li a .tab-icon img {
          padding: 25px; }
        .group-tabs .tabs-menu li a .tab-icon i {
          font-size: 30px;
          color: #33a9e0;
          padding: 16px; }
          .group-tabs .tabs-menu li a .tab-icon i.fa-mobile-phone {
            font-size: 35px; }
      .group-tabs .tabs-menu li a .tab-title {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 50%;
        top: 50%;
        text-align: center; }
        .group-tabs .tabs-menu li a .tab-title p {
          font-size: 20px;
          text-align: center;
          font-weight: lighter;
          line-height: 1.2; }
.group-tabs .tab-content {
  padding: 60px 0; }
  .group-tabs .tab-content h1 {
    padding: 20px 0;
    border-bottom: 1px #3094c1 solid; }
  .group-tabs .tab-content .one-col .sub-content {
    float: none;
    margin: 0 auto; }
    .group-tabs .tab-content .one-col .sub-content h2 {
      color: #151515;
      font-weight: lighter;
      text-transform: uppercase;
      margin-top: 30px;
      font-size: 20px; }
    .group-tabs .tab-content .one-col .sub-content i {
      margin-right: 15px; }
    .group-tabs .tab-content .one-col .sub-content ul {
      padding: 0; }
    .group-tabs .tab-content .one-col .sub-content span i {
      margin: 22px 10px 0 0;
      font-size: 18px;
      float: left;
      color: #006993; }
    .group-tabs .tab-content .one-col .sub-content span h2 {
      color: #006993;
      font-size: 20px;
      font-weight: bold;
      text-transform: none; }
  .group-tabs .tab-content .one-col .contact-us i {
    font-size: 14px; }
  .group-tabs .tab-content .two-col .sub-content .faq-title i {
    margin: 3px 10px 0 0; }
  .group-tabs .tab-content .two-col .sub-content i.indicator {
    margin: 0; }

.promotion .sub-content .panel-item i {
  margin: 3px 10px 0 -30px; }
  .promotion .sub-content .panel-item i.mobi-gift {
    margin: 0px;
    padding: 0px 10px 0 0px; }
.promotion .sub-content .panel-item h2 {
  margin-bottom: 15px; }
.promotion .sub-content .panel-item h3 {
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase; }
.promotion .sub-content .panel-item a.mobi-heading-gift {
  color: #006993;
  font-size: 20px;
  font-weight: bold; }
.promotion .sub-content .panel-item .panel-content i {
  margin: 5px 0 0 10px;
  font-size: 16px;
  color: #7dbe35; }
.promotion .sub-content .panel-item .panel-content p {
  padding: 0 0 0 40px; }
.promotion .sub-content .panel-item .panel-heading.show-heading .mobi-element {
  display: block; }
.promotion .sub-content .panel-item:last-child .panel-heading, .promotion .sub-content .panel-item:last-child .panel-body {
  border-bottom: none; }

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #3f9fcc; }
  footer .row {
    margin-top: 5px; }
  footer .footer-info {
    color: #fff;
    text-align: left; }
    footer .footer-info i {
      float: left;
      line-height: 1.8; }
    footer .footer-info p {
      margin-left: 15px;
      color: #fff;
      font-size: 14px; }
  footer span.copyright, footer span.brands {
    line-height: 40px;
    font-size: 16px;
    font-weight: 700; }
  footer span.brands {
    color: #fff;
    width: 100%;
    text-align: left;
    float: left;
    margin-left: 36px; }
  footer ul.quicklinks {
    float: left;
    margin-left: 30px;
    width: 80%; }
    footer ul.quicklinks li {
      float: left;
      padding-top: 10px;
      list-style: none; }
    footer ul.quicklinks a {
      display: block;
      height: 30px;
      width: 50px; }
  footer ul.social-buttons {
    margin-bottom: 0;
    list-style: none;
    text-align: left; }
    footer ul.social-buttons li i {
      text-align: center;
      height: 20px;
      width: 20px;
      border-radius: 10%;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      outline: 0;
      margin-top: 10px;
      margin-right: 15px; }
    footer ul.social-buttons li a {
      font-size: 15px;
      color: #fff; }

/* Ultrabook */
@media all and (min-width: 1350px) {
  .navbar-default .navbar-nav li a {
    font-size: 16px;
    padding: 15px 10px; }
  .navbar-default .navbar-actions {
    margin-top: -40px; }
  .navbar-default .navbar-actions .btn-register {
    padding: 5px 20px;
    font-size: 16px; }
  .navbar-default .navbar-actions .hotline {
    font-size: 16px;
    color: #55c7fc; } }
/* Desktops */
@media all and (min-width: 1024px) {
   /*------------------------ 
    Navigation
---------------------*/
  .navbar-default {
    background-color: transparent;
    padding: 20px 30px 0;
    /*padding: 20px 20px;*/
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
    /* &.navbar-shrink {
         background-color: #fff;
         padding: 10px;
         .navbar-brand {
             font-size: 1.5em;
         }
     }*/ }
    .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all 0.3s; }
    .navbar-default .navbar-nav .active a {
      border-radius: 3px; }

 /*------------------------ 
             Header
---------------------*/
  header .container {
    width: 100%; }
  header .row {
    padding: 0 30px; }
  header h1 {
    font-size: 40px;
    margin-bottom: 10px; }
  header p {
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.3; }
    header p.intro-top {
      padding: 0 115px 0 0; }
  header ul {
    padding: 0;
    font-size: 24px;
    font-weight: lighter; }
    header ul li {
      padding: 5px 0; }
      header ul li a {
        color: #006993;
        text-decoration: underline; }
        header ul li a:hover {
          text-decoration: none; }
      header ul li i {
        color: #3094c1;
        margin-right: 30px; } }
/* Tablets */
/* Phone */
@media all and (max-width: 752px) {
  .desk-element {
    display: none; }

  .mobi-element {
    display: block; }

  p {
    font-size: 1em; }

  header.intro-header {
    margin-bottom: 0px; }
  header .intro-img {
    padding: 0px; }
  header h1 {
    font-size: 30px; }
  header p {
    font-size: 22px;
    font-weight: lighter;
    line-height: 1.3; }
  header ul {
    padding: 0; }
    header ul li {
      font-size: 22px; }
      header ul li a {
        color: #006993;
        text-decoration: underline;
        font-weight: lighter; }
      header ul li i {
        color: #3094c1;
        margin-right: 10px; }

  .navbar-default {
    margin-bottom: 0px;
    /* Submenu mobile*/ }
    .navbar-default .navbar-header {
      padding: 0px 0 15px; }
    .navbar-default .navbar-collapse {
      width: 55%;
      margin: 0 auto 0 30%;
      border-top: none;
      box-shadow: none; }
      .navbar-default .navbar-collapse .navbar-actions-mobile {
        margin: 7.5px -45px; }
        .navbar-default .navbar-collapse .navbar-actions-mobile li {
          list-style: none; }
          .navbar-default .navbar-collapse .navbar-actions-mobile li .navbar-circle img {
            width: 10%;
            margin-top: -8px; }
          .navbar-default .navbar-collapse .navbar-actions-mobile li .navbar-social {
            margin-left: 10px;
            color: #fff; }
            .navbar-default .navbar-collapse .navbar-actions-mobile li .navbar-social i {
              font-size: 25px; }
          .navbar-default .navbar-collapse .navbar-actions-mobile li .btn-register {
            margin: 10px 0px;
            padding: 6px 40px;
            text-transform: none;
            font-weight: normal;
            font-size: 16px;
            color: #3f9fcd;
            background-color: #fff; }
    .navbar-default .navbar-toggle {
      margin-top: 5px;
      /*margin-right: 35px;*/
      color: #3fa0cd; }
    .navbar-default .navbar-nav li a {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 7px; }
      .navbar-default .navbar-nav li a.desk-element {
        display: none; }
      .navbar-default .navbar-nav li a.mobi-element {
        display: block; }

  .navbar-static-top {
    /* .navbar-collapse {
         max-height: 100%;
     }*/
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030; }

  .navbar-submobi {
    margin-top: 60px;
    /*background-color: #33a9e0;*/ }
    .navbar-submobi .container {
      border-bottom: 1px solid #33a9e0; }
    .navbar-submobi .navbar-subpage {
      background-color: #33a9e0; }
      .navbar-submobi .navbar-subpage button {
        float: right;
        background-color: #44b8ee;
        /* Green */
        border: none;
        color: white;
        padding: 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; }
        .navbar-submobi .navbar-subpage button.btn-arrow-down {
          padding: 17px 17px 23px; }
      .navbar-submobi .navbar-subpage .navbar-brand {
        padding: 17px 0 0px 26px;
        /*height: auto; padding: 15px;*/
        color: #fff; }
    .navbar-submobi .menubox-mobi {
      margin: 25px 0; }
      .navbar-submobi .menubox-mobi .group-tabs .tabs-menu li {
        width: 50%;
        height: 110px;
        box-shadow: 0px 3px 12px 0px rgba(183, 219, 236, 0.75); }
        .navbar-submobi .menubox-mobi .group-tabs .tabs-menu li:last-child {
          width: 100%; }
        .navbar-submobi .menubox-mobi .group-tabs .tabs-menu li a .tab-title p {
          font-size: 18px; }
    .navbar-submobi .search-bar {
      margin: 25px 0; }
      .navbar-submobi .search-bar .col-xs-8 {
        padding: 0; }
      .navbar-submobi .search-bar input {
        width: 100%;
        height: 40px; }
      .navbar-submobi .search-bar .btn-search {
        padding: 8px 32px; }

  .group-tabs .col-tabs {
    padding: 0px; }
    .group-tabs .col-tabs .one-col {
      padding: 0 15px; }
  .group-tabs .tab-content {
    padding: 0px 0 60px; }
    .group-tabs .tab-content .sub-content .panel-item .panel-collapse .panel-body {
      border-bottom: none; }
    .group-tabs .tab-content .sub-content .panel-item .panel-heading {
      border-bottom: 1px solid #33a9e0; }
    .group-tabs .tab-content .one-col .sub-content h2 {
      /*margin-top: 0px;*/
      font-size: 18px; }
    .group-tabs .tab-content .two-col .sub-content .faq-title i {
      margin: 3px 12px 0 30px; }
      .group-tabs .tab-content .two-col .sub-content .faq-title i.indicator {
        margin: 3px 12px 0 30px; }
    .group-tabs .tab-content .two-col .sub-content h2 {
      font-size: 18px; }

  .promotion .sub-content .panel-item {
    /* &:last-child{
         border-bottom: 1px solid #33a9e0;
         .panel-heading{
              border-bottom: 1px solid #33a9e0;
             
         }
     }*/
    /* .desk-element{
         .panel-heading{
          &.show-heading{
             display: none;
         }
     }
     }   */ }
    .promotion .sub-content .panel-item .pro-heading {
      border-top: 1px solid #33a9e0;
      border-bottom: 1px solid #33a9e0;
      margin-right: -15px;
      margin-left: -15px; }
      .promotion .sub-content .panel-item .pro-heading i {
        padding: 22px 11px;
        margin: 0; }
        .promotion .sub-content .panel-item .pro-heading i.indicator {
          margin: -35px 18px 0 0;
          padding: 0; }
      .promotion .sub-content .panel-item .pro-heading a {
        color: #006993;
        font-size: 20px; }
    .promotion .sub-content .panel-item .panel-heading {
      border-bottom: none; }
    .promotion .sub-content .panel-item .panel-body {
      padding: 0; }

  footer .footer-info {
    padding: 0 30px; }
  footer ul.social-buttons {
    width: 100%;
    margin-left: -25px; }
    footer ul.social-buttons li i {
      margin-right: 0; }
    footer ul.social-buttons li a {
      font-size: 14px; }
    footer ul.social-buttons li.col-left {
      float: left; }
    footer ul.social-buttons li.col-right {
      float: right; }
      footer ul.social-buttons li.col-right:nth-child(4) {
        margin-right: 48px; }
  footer ul.quicklinks {
    margin-left: 10px;
    width: 100%; }
    footer ul.quicklinks li {
      padding: 0 2px; }
  footer span.brands {
    margin-left: 18px; } }
@media all and (max-width: 320px) {
  footer span.copyright, footer span.brands {
    font-size: 14px; }
  footer ul.social-buttons {
    margin-left: -13px; }
    footer ul.social-buttons li i, footer ul.social-buttons li a {
      font-size: 13px; }
    footer ul.social-buttons li i {
      margin: 0; }
    footer ul.social-buttons li.col-right {
      margin-right: 8px; }
      footer ul.social-buttons li.col-right:nth-child(4) {
        margin-right: 52px; }
  footer .footer-social {
    padding: 0; }
  footer .footer-info p {
    font-size: 13px; } }

/*# sourceMappingURL=interior_tkn.css.map */
