body {
    /*padding-top: 70px;*/
    font-family: "Roboto", sans-serif;
    
    
}

*,*::before,*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 1.75;
    color: #151515;
}

a {
    outline: 0;
    color: #151515;
    &:hover,&:focus,&:active,&.active{
         color: #3fa0cc;
    }
}
h1,h2,h3,h4,h5,h6 {   
    font-weight: 700;
        color:#33a9e0;
}

ul{
    list-style: none;
}

/*------------------------ 
  Overwrite btn class of bootstrap 
   ---------------------*/

.btn-primary {
    color: #fff;
    background-color: #33a9e0;
    border-color: #33a9e0;
    text-transform: uppercase;
    font-weight: 700;
    &:hover,&:focus,&:active,&.active{
        color: #fff;
    background-color: #3094c1;
    border-color: #3094c1;
    }&:active,&.active{
        background-image: none;
    }
}




/*------------------------ 
        Navigation Bar
   ---------------------*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;  
    .container{
        width: 100%;
    }
    .navbar-brand{
        color: #fed136;
            &:hover,&:focus,&:active,&.active{
            color: #fec503;
            }
            img{
                width: 73px;
                margin-top: -22px;
            }
    }
    .mobi-logo{
            margin: -5px 0 0 5px;
            img{
                      width: 100%;
                    margin-top: 0;
            }

        }
    .navbar-collapse{
        /*margin-top: 5px;*/
        margin-top: 0px;
         border-color: rgba(255, 255, 255, .02);        
    }.navbar-toggle{
        background-color: transparent;
    border-color: transparent;
        .icon-bar{
                background-color: transparent;
                font-size: 25px;
        }
        &:hover,&:focus{
            background-color: transparent;
        }
    }
    .navbar-nav{
        li{
            a{
                color: #151515;
                /*letter-spacing: 2px;*/
                font-size: 15px;
                padding: 15px 7px;
                &:hover,&:focus{
                    outline: 0;
                    color: #3fa0cc;
                }
                &.mobi-element{
                    display: none;
                }
            }
        }.active{
            a{
                border-radius: 0;
                color: #3fa0cc;
                &:hover,&:focus{
                    color: #3fa0cc;
                }
            }
        }
    }
   
    .navbar-actions{
        float: right;
        margin-top: -40px;
        .navbar-social{
            margin-right: 10px;
            font-size: 18px;
            color: #707071;
        }.btn-register {
            margin-left: 10px;
            padding: 5px 20px;
            font-weight: 500;
            font-size: 15px;
            text-transform: none;
        }.hotline{
            color:#3fa0cc;
            font-size: 15px;
        }

    }
}
.narbar-mobile{
    background-color: rgba(63,159,205,0.9);
}
.narbar-desk{
    background-color: #fff;
}
.desk-element{
        display: block;
    }
.mobi-element{
    display: none;
}
/*------------------------ 
        Header 
   ---------------------*/
header{
    background-color: #ebf7fc;
    &.intro-header {
    /*background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    margin-bottom: 50px;
}
}
div{
    &.main-content{
        
        background: url("../img/background/background.jpg") repeat-x;
        /*margin-top: 25px;*/
        border-top: 1px solid #3f9fcc;
        
    }
} 

.search-bar{
    margin: 75px 0 20px;
    .input-search{
       width: 70%;
    float: right;
    text-align: center;
    height: 50px;
    border-radius: 30px;
     -webkit-box-shadow:0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
    -moz-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
        box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
        
    }
    .btn-search{
        padding: 13px 35px;
        border-radius: 30px;
        text-transform: none;
        font-weight: 500;
         -webkit-box-shadow:0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
    -moz-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
        box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
    }
}
.sub-menu{
    margin-top: 100px;    
            ul{
                &.nav-pills{
                li{
                    color: #006993;
                    font-size: 16px;
                    font-weight: bold;
                    border-top: 1px #3094c1 solid;            
                    i{
                         float: left;
                       /* padding: 25px 0 0;*/
                            padding: 21px 0 0;
                    }
                    a{
                        color: #006993;
                        background-color: transparent;

                        padding: 20px 25px;
                        &:hover{
                              background-color: transparent;
                          color: #33a9e0;
                          }

                    }
                      &.active{
                          a,i{
                              background-color: transparent;
                          color: #33a9e0;
                          &:hover{
                              background-color: transparent;
                          color: #33a9e0;
                            }
                          }


                        }
                }
            }
        }
}
%sub_content {
    i{
       
        font-size: 18px;
        float: left;
        color: #006993;
        }
    h2{
        color: #006993;
        font-size: 20px;
        font-weight: bold;


    } 
}
.sub-content{
     @extend %sub_content;
     .panel-item{
                    border: none;
                    background: transparent;
                    box-shadow: none;
                    .panel-heading{                       
                        background: transparent;                                                    
                        border-bottom: 1px solid #bababa;
                        border-top-left-radius: 0px; 
                        border-top-right-radius: 0px; 
                        padding: 10px 0px;
                        a{
                            text-decoration: none;
                            
                            
                        }
                         &.show-heading{
                            display: block;
                             .mobi-element{
                                 display: none;
                             }
                        }
                        &.hide-heading{
                            display: none;
                        }
                        i{
                                &.indicator{
                                    margin: 0;
                                }
                            }
                    }
             .panel-collapse{
                 .panel-body{
                            border-top: none;
                            border-bottom: 1px solid #bababa;
                            padding: 0 30px;

                            h4{
                                font-size: 16px;
                                color: #151515;
                            }
                            p{
                                font-weight: lighter;
                            }
                        }
                    }
                    
                }
}
.content-body{
    h1{
            padding: 20px 0;
            border-bottom: 1px #3094c1 solid;
        }
}

.group-tabs{
    .tabs-menu{
        border-bottom: none;
        li{
            width:20%;
            margin-left: 0;
            background-color: #fff;
            height: 150px;
              -webkit-box-shadow:0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
    -moz-box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75); 
        box-shadow: 0px 3px 7px 0px rgba(183, 219, 236, 0.75);
            &.active{
                a{
                    
                background-color: #fff;
                border: 1px solid #33a9e0;
                    
                }
            }
            a{
                height: 100%;
                width: 100%;
                position: relative;
                border-radius: 0;
                
                .tab-icon{
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    left: 0px;
                    top: 0px;
                    text-align: center;
                    img{
                        padding: 25px;                      
                        
                    }
                    i{
                        font-size: 30px;
                        color: #33a9e0;
                        padding: 16px;
                        &.fa-mobile-phone{
                            font-size: 35px;
                        }
                    }
                }
                .tab-title{
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 50%;
                    top: 50%;
                    text-align: center;
                    p{
                        font-size: 20px;    
                        text-align: center;
                        font-weight: lighter;
                        line-height: 1.2;
                    }
                }
            }
        }       
    }
    .tab-content{
        padding: 60px 0;       
        h1{
            padding: 20px 0;
            border-bottom: 1px #3094c1 solid;
        }
        .one-col{
            .sub-content{
                float: none;
                margin: 0 auto;
                h2{
                    color: #151515;
                    font-weight: lighter;
                    text-transform: uppercase;
                    margin-top: 30px;
                    font-size: 20px;
                }
                i{
                    margin-right: 15px;
                }
                 ul{
                        padding: 0;
                    }
                span{
                   i{
                    margin: 22px 10px 0 0;
                    font-size: 18px;
                    float: left;
                    color: #006993;
                    }
                h2{
                    color: #006993;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: none
                    
                }
                   
                }
                
            }
            .contact-us{
                    i{
                        font-size: 14px;
                    }
                }
        }
        .two-col{
            .sub-content{                
               @extend %sub_content; 
                 .faq-title{
                     i{
                         margin: 3px 10px 0 0; 
                     }
                        
                 }
                 i{   
                    
                     &.indicator{
                         margin: 0;
                     }
                     
                }
                
            }
            
        }
    }
}

.promotion{
    .sub-content{
        .panel-item{  
            
            i{
          
                  margin: 3px 10px 0 -30px;
                &.mobi-gift{
                     margin: 0px;
                    padding: 0px 10px 0 0px;
                }
            }
            h2{
                margin-bottom: 15px;
            }
            h3{
                font-size: 16px;
                font-weight: lighter;
                text-transform: uppercase;
            }
            a{
                &.mobi-heading-gift{
                    color: #006993;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            
            .panel-content{
                i{
                    margin: 5px 0 0 10px;
                    font-size: 16px;                   
                    color: #7dbe35;
                }
                p{
                padding: 0 0 0 40px;               
                }
            }
            .panel-heading{
                &.show-heading{
                    .mobi-element{
                        display: block;
                    }
                }
                
            }
             &:last-child{ 
            .panel-heading,.panel-body{
                                          
                border-bottom: none;
                }
            
            }           
        }

    }   
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #3f9fcc;
    .row {
        margin-top: 5px;
    }
    .footer-info {
        color: #fff;
        text-align: left;
        i {
            float: left;
            line-height: 1.8;
        }
        p {
            margin-left: 15px;
            color: #fff;
            font-size: 14px;
        }
    }
    span{
        &.copyright,&.brands {
            line-height: 40px;
            font-size: 16px;
            font-weight: 700;
        }
        &.brands {            
            color: #fff;
            width: 100%;
            text-align: left;
            float: left;
            margin-left: 36px;
        }
    }
    ul{
        &.quicklinks {
            float: left;
            margin-left: 30px;
            width: 80%;
            li {
                float: left;
                padding-top: 10px;
                list-style: none;
            }
            a {
                display: block;
                height: 30px;
                width: 50px;
            }
        }&.social-buttons {
            margin-bottom: 0;
            list-style: none;
            text-align: left;
            li{
                i {
                    text-align: center;

                    height: 20px;
                    width: 20px;
                    border-radius: 10%;
                    font-size: 15px;
                    line-height: 22px;
                    color: #fff;
                    outline: 0;
                    margin-top: 10px;
                    margin-right: 15px;
                }
                a {
                    font-size: 15px;
                    color: #fff;
                }
            }
        }    
    }
}


/* Ultrabook */

@media all and (min-width:1350px) {
.navbar-default {
     .navbar-nav{
        li{
            a{                
                font-size: 16px; 
                padding: 15px 10px;
            }
        }
    }.navbar-actions {    
        margin-top: -40px;
    }.navbar-actions {
        .btn-register {        
            padding: 5px 20px;        
            font-size: 16px;        
        } 
        .hotline{
            font-size: 16px;
            color: #55c7fc;
        }
    }
      
}
    

}


/* Desktops */

@media all and (min-width:1024px) {
 
      /*------------------------ 
       Navigation
   ---------------------*/
    .navbar-default {
        background-color: transparent;
            padding: 20px 30px 0;
           /*padding: 20px 20px;*/
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s
        }
        .navbar-nav{
            .active{
                a {
                        border-radius: 3px
                    }
            }
        }
       /* &.navbar-shrink {
            background-color: #fff;
            padding: 10px;
            .navbar-brand {
                font-size: 1.5em;
            }
        }*/
    }
    
    
    /*------------------------ 
                Header
   ---------------------*/
    header {
        .container{
            width: 100%;
            
        }
        .row{
            padding: 0 30px;
        }
        
            h1 {
                
                font-size: 40px;
                margin-bottom: 10px;
            }
        p{
            font-size: 24px;
            font-weight: lighter;            
            line-height: 1.3;
            &.intro-top{
                padding: 0 115px 0 0;
            }
        }
        ul{              
            padding: 0;            
            font-size: 24px;
            font-weight: lighter;
            li{
                padding: 5px 0;
                a{
                    color: #006993;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
                i{
                    color: #3094c1;
                    margin-right: 30px;
                }
            }
        }
    }   
   
 
}

/* Tablets */

@media all and (min-width:768px) {
  
}
/* Phone */

@media all and (max-width:752px) {   
    .desk-element,{
        display: none;
    }
    .mobi-element{
    display: block;
    }
    p{
        font-size: 1em;
    }
	
    header{
        &.intro-header{
                margin-bottom: 0px; 
        }
        .intro-img{
            padding: 0px;
        }
        h1{
            font-size: 30px;
        }
            p {
            font-size: 22px;
            font-weight: lighter;
            
            line-height: 1.3;
            }
            ul{
                    padding: 0;
                li{
                    font-size: 22px;
                    a{
                         color: #006993;
                        text-decoration: underline;
                        font-weight: lighter;
                    }
                    i{
                      color: #3094c1;
                        margin-right: 10px;
                    }
                }
            }
        } 

    .navbar-default{  
		margin-bottom:0px;
        .navbar-header{
            padding: 0px 0 15px;
        }
        .navbar-collapse{
            width: 55%;
            margin: 0 auto 0 30%;
            border-top: none;    
            box-shadow: none; 
            .navbar-actions-mobile{
                margin: 7.5px -45px;

                li{
                    list-style: none;
                    .navbar-circle{
                        img{
                            width: 10%;
                            margin-top: -8px;
                        }
                    }
                    .navbar-social{
                        margin-left: 10px;
                        color:#fff;
                        i{
                            font-size: 25px;
                        }
                    }.btn-register{
                        margin: 10px 0px;
                        padding: 6px 40px;
                        text-transform: none;
                        font-weight: normal;
                        font-size: 16px;
                        color: #3f9fcd;
                        background-color: #fff;
                    }
                    
                }
            }
        }        
        .navbar-toggle {
                margin-top: 5px;
    /*margin-right: 35px;*/
            color:#3fa0cd;
        }
        .navbar-nav{
            li{
                a{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 10px 7px;
                    &.desk-element{
                        display: none;
                    }&.mobi-element{
                        display: block;
                    }
                    
                }
            }
        }   
        
        /* Submenu mobile*/
        
    }
    .navbar-static-top{
       /* .navbar-collapse {
            max-height: 100%;
        }*/
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1030;
        
    }
    .navbar-submobi{
            margin-top: 60px;
         /*background-color: #33a9e0;*/
        .container{
		   border-bottom: 1px solid #33a9e0;
        }
            .navbar-subpage{
              background-color: #33a9e0;
                button{
                    float: right;                    
                    background-color: #44b8ee; /* Green */
                    border: none;
                    color: white;
                    padding: 17px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    &.btn-arrow-down{
                        padding: 17px 17px 23px;
                    }
                }
                .navbar-brand{
                   
                    padding: 17px 0 0px 26px;
                    /*height: auto; padding: 15px;*/
                    color: #fff;
                }
            }
        .menubox-mobi{
			margin: 25px 0;
            .group-tabs {
                .tabs-menu{
                    li{
                        width: 50%;
                        height: 110px;
                        box-shadow: 0px 3px 12px 0px rgba(183, 219, 236, 0.75);
                        &:last-child{
                            width: 100%;
                        }

                        a{
                            .tab-title{
                                p{
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                } 
                
            } 
            
        }
        
         .search-bar{
                 margin: 25px 0;
                .col-xs-8{
                    padding: 0;
                    
                }
             input{
                        width: 100%;                        
                        height: 40px;
                    }
                .btn-search{
                    padding: 8px 32px;
                }
            } 
                
       
            
    }
    .group-tabs {
        .col-tabs{
            padding: 0px;
            .one-col{
                    padding: 0 15px;
                }   
        }
            .tab-content{
                    padding: 0px 0 60px;
                .sub-content {
                    .panel-item{
						.panel-collapse {
							.panel-body{
								border-bottom:none;
							}
						}
                        .panel-heading{
                           
                            border-bottom: 1px solid #33a9e0;
                        }
                    }
                } 
                    .one-col{
                        .sub-content{
                            h2{
                                /*margin-top: 0px;*/
                                font-size: 18px;
                            }
                        } 
                    } 
                .two-col {
                    .sub-content{
                        .faq-title{
                            i{
                                margin: 3px 12px 0 30px;
                                &.indicator{
                                 margin: 3px 12px 0 30px;
                            }
                                   
                            } 
                        }
                        h2{
                                
                                font-size: 18px;
                            }
                    }
                }  
            }
        }    
     
    .promotion{
        .sub-content{
            .panel-item{              
                .pro-heading{
                    border-top: 1px solid #33a9e0;
                    border-bottom: 1px solid #33a9e0;
                    margin-right: -15px;
                    margin-left: -15px;                  
                   
                    i{
                       padding: 22px 11px;
                        margin: 0;
                        &.indicator{
                            margin: -35px 18px 0 0;
                            padding: 0;
                        }
                    }
                    a{
                       color: #006993;
                        font-size: 20px;
                    }
                   
                }
                .panel-heading{
                    border-bottom: none;
                }
               /* &:last-child{
                    border-bottom: 1px solid #33a9e0;
                    .panel-heading{
                         border-bottom: 1px solid #33a9e0;
                        
                    }
                }*/
               /* .desk-element{
                    .panel-heading{
                     &.show-heading{
                        display: none;
                    }
                }
                }   */             
                .panel-body{
                    padding: 0;
                }
            }
        }
    }   
    footer {
        .footer-info{
            padding:0 30px;
        }
        ul{
            
            &.social-buttons{
                width: 100%;
                margin-left: -25px;
                    li{
                        i{
                            margin-right: 0;
                        }
                        a{
                            font-size: 14px;
                        }
                    &.col-left{
                        float: left;
                    }
                    &.col-right{
                        float: right;
                        &:nth-child(4) {
                           margin-right: 48px;
                        }
                    }
                }           
               
            }
            &.quicklinks{
                margin-left: 10px;
                width: 100%;
                li{
                    padding: 0 2px;
                }
            } 
        }
        span{
            &.brands{
                margin-left: 18px;
            } 
        }
    }
       
    
}

@media all and (max-width:320px) {
    
    footer {
        span{
            &.copyright,&.brands{
                font-size: 14px;
            }
        }
        ul{
            &.social-buttons{
                    margin-left: -13px;
                li{
                    i,a{
                        font-size:13px;
                    }
                    i{
                        margin: 0;
                    }
                    &.col-right{
                        margin-right: 8px;
                        &:nth-child(4){
                            margin-right: 52px;
                        }
                    }
                    
                }
            }
        } 
        .footer-social{
            padding: 0;
        }
        .footer-info{
            p{
                font-size: 13px;
            }
        } 
        
    }
}
