body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    
    
}

*,*::before,*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 1.75;
    color: #151515;
}

a {
    outline: 0;
    color: #151515;
    &:hover,&:focus,&:active,&.active{
         color: #3fa0cc;
    }
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 700;
        color:#151515;
}
@mixin padding-width($padding,$width) {
 
padding: $padding;
 
width:$width;
 
}

/*------------------------ 
  Overwrite btn class of bootstrap 
   ---------------------*/

.btn-primary {
    color: #fff;
    background-color: #3fa0cc;
    border-color: #3fa0cc;
    text-transform: uppercase;
    font-weight: 700;
    &:hover,&:focus,&:active,&.active{
        color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    }&:active,&.active{
        background-image: none;
    }
}

.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    background-image: none;
}
/*------------------------ 
   Extra large button
   ---------------------*/

.btn-xl {
    color: #fff;
    background-color: #1e6083;
    border-color: #1e6083;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 20px;
    width: 25%;
    margin-left: 5%;
    &:hover,&:focus,&:active,&.active{
         color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    }&:active,&.active{
        background-image: none;
    }
}

.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    background-image: none
}

/*________________________

    Button Hover Effect
___________________________*/
.btn-hover {
  position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;     
    padding: 0 20px;
    height: 30px;
    font: bold 15px/30px 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #3fa0cc;
    border-color: #3fa0cc;
    border-radius: 5px;
    -moz-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
    font-weight: normal;
    &:hover {
   background-color: #3094c1;
    border-color: #3094c1;
        text-decoration: none;
       
    }
     &.btn-reg-xl{          
                color: #fff;
                background-color: #1e6083;
                border-color: #1e6083;
                border-radius: 3px;
                margin-left: 0%;
                font-size: 16px;
                padding: 9px 32px;                               
                float: right;
                height: 47px;
            box-shadow: 0px 6px 10px 0px rgba(144, 187, 207, 0.75);
            &:hover{
                    
            background-color: #337ab7;
            border-color: #337ab7;
                line-height: 8.5em;
            }
        }
    &.btn-view-new{            
            background-color: #ea506c;
            border-color: #ea506c;                    
            font-size: 16px;
            padding: 9px 32px;           
            float: left;
            height: 50px;           
            font-weight: normal;
            margin-right: 25px;
            &:hover{                    
            background-color: #e03d5b;
            border-color: #e03d5b;
                line-height: 8.5em;
            }       
        
        }
    &.btn-video-new{            
            background-color: #3f9fcc;
            border-color: #3f9fcc;
            font-size: 16px;
            padding: 9px 32px;
            float: left;
            height: 50px;           
            font-weight: normal;
            margin-bottom: 18px;
            &:hover{                    
            background-color: #3094c1;
            border-color: #3094c1;
                line-height: 8.5em;
            }      
        }
    &.btn-regnow-xl{      
           background-color: #55c7fc;
            border-color: #55c7fc;           
            font-size: 16px;
            padding: 9px 32px;            
            float: left;
            height: 47px;
            box-shadow: 0px 6px 20px 0px rgba(144, 187, 207, 0.75);
            font-weight: normal;
            &:hover{                  
            line-height: 8.5em;
            }
        }
}


.btn-reg{
    &:hover {
        line-height: 7.5em;
    }
        &:before {
      content: attr(data-text); 
    color: #fff;
      position: absolute;
      top: -2.75em;
    }
}




/*------------------------ 
        Navigation Bar
   ---------------------*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;    
    .navbar-brand{
        color: #fed136;
            &:hover,&:focus,&:active,&.active{
            color: #fec503;
            }
        }
    .navbar-collapse{
         border-color: rgba(255, 255, 255, .02);        
    }.navbar-toggle{
        background-color: transparent;
    border-color: transparent;
        .icon-bar{
                background-color: transparent;
                font-size: 25px;
        }
        &:hover,&:focus{
            background-color: transparent;
        }
    }
    .navbar-nav{
            
        li{
            a{
                color: #151515;
                /*letter-spacing: 2px;*/
                font-size: 15px;
                padding: 15px 12px;
                &:hover,&:focus{
                    outline: 0;
                    color: #3fa0cc;
                }
                &.mobi-element{
                    display: none;
                }
            }
        }.active{
            a{
                border-radius: 0;
                color: #3fa0cc;
                &:hover,&:focus{
                    color: #3fa0cc;
                }
            }
        }
    }.navbar-actions {
        
        .hotline{
            font-size: 16px;
            color: #55c7fc;
        }
    }
    .navbar-brand{
        img{
            width: 73px;
            margin-top: -22px;
        }
    }
    .navbar-actions{
           position: absolute;
            top: 34%;
            float: right;
            width: 25%;
            right: 0;
        
        .navbar-social{
            margin-right: 10px;
            font-size: 18px;
            color: #707071;
            vertical-align: middle;
            &:hover{
                color: #3094c1;
            }
        }.btn-register {
            margin-left: 10px;
            padding: 5px 20px;
            font-weight: 500;
            font-size: 15px;
            text-transform: none;
        }.hotline{
            color:#3fa0cc;
            font-size: 15px;
            vertical-align: middle;
                margin-right: 10px;
        }

    }
}
.narbar-mobile{
    background-color: rgba(63,159,205,0.9);
}

.desk-element{
        display: block;
    }
.mobi-element{
    display: none;
}
/*------------------------ 
        Header 
   ---------------------*/

header {
    background-image: url(../img/background/header-bg.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
   
    text-align: center;
    color: #fff;
    .intro-text{            
        padding:100px 75px 50px 0px;
            h1{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 40px;
                color: #1e6083;
            }
            .intro-lead-in{
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 25px;
                padding-right: 20px;
                color: #151515;
            }.input-tel {
                width: 70%;
                float: left;
                text-align: center;
                height: 48px;
                font-size: 16px;
                box-shadow: 0px 1px 10px 0px rgba(144, 187, 207, 0.5); 
                &:focus{
                    &::-webkit-input-placeholder { color:transparent; }     
                    &::-moz-placeholder { color:transparent; }
                    &:-ms-input-placeholder { color:transparent; }
                }

            }
        .form-group{
           margin-bottom: 110px; 
        }
            
    }
}

.intro-download {
                margin-top: 30px;
                width: 100%;
                a{
                    /*width: 150px;
                    height: 48px;*/
                    display: block;
                    float: left;
                    width: 30%;
                }
                img{

                    width: 100%;
                }
            }



.icon-android {
   
    margin: 0 5%;
}



/*------------------------ 
        Sections
   ---------------------*/

section {
    padding: 100px 0;
    h2{
        .section-heading{
            font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
        }
    }h3{
        .section-subheading {
            font-size: 16px;
            text-transform: none;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 75px;
        }
    }
    
}

.container {
    width: 100%;
}

/*------------------------ 
        Benefit Section
   ---------------------*/

.service-heading {
    margin: 15px 0;
    text-transform: none
}

.benefit-section{   
    h2{
         font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: none;
    padding: 0 25px;
    color: #b0d2e6;
        font-weight: bold;
    }
    
    .bs-group {
    padding: 10px 25px 0;
        height: 150px;
   
       /* p,h4{
          color: #454545;  
        }*/
        &.bs-group-first{
            margin-bottom: 118px;
        }&.bs-group-count{
            margin-top: -15px;
        }
        &:first-child{
            h4{
                margin-top: 0px;
            }
        }
        .bs-img,.bs-content{
            height: 150px;
        }.bs-img {
            float: left;
            width: 25%;
        }.bs-content {
            width: 70%;
            float: left;
        }
        .bs-number-animation{
            font-family: "Roboto Slab", sans-serif;
            h3{
                 font-weight: normal;
                font-size: 24px;
                /*font-family: "Roboto Slab", sans-serif;*/
                color: #75ad5f;
                text-transform: uppercase;
            }
            .bs-number-content{
                width: 40%;
                float: left;
                color: #868686;
                .bs-number-text{
                    float: left;
                    p{
                        font-size: 14px;
                        &.number-left{
                            float: left;
                            width: 23%;
                            color: #868686;
                        }&.number-right {
                            float: left;
                            width: 20%;
                            color: #868686;
                            margin-left: 10px;
                        }
                    }
                    .count-title {
                        font-size: 36px;
                        font-weight: normal;    
                        margin-bottom: 0;
                        text-align: center;
                        float: left;
                    }
                }.bs-number-title {
                    font-size: 18px;
                }
            }.bs-number-icon{
                width: 20%;
                float: left;
                text-align: center;
                img{
                    text-align: center;
                    width: 20px;
                    padding-top: 15px;
                    margin-right: 25px;
                }
            }.bs-right {
                color: #286090;
            }
        }
        hr{
            float: left;
            width: 100%;
            color: #929292;
            margin-top: 5px;
        }
        p{
            &.bs-note{
                font-style: italic;
                font-size: 14px;
            }
    
        }
    }
}


/*------------------------ 
        Activity Section
   ---------------------*/

.activity-boxes {
    background-image: url(../img/background/section1.png);
    background-repeat: none;
    background-attachment: scroll;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .box-animation {
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;       
        .box-img {
            img {
                width: 100%;    
                display: inline;
            }   
        }
    }
    .btn-transform {
        background-color: #33a0d7;
        color: #fff;       
        /*min-height: 359px;
        min-width: 338px;*/
        width: 100%;
        line-height: 24px;
        font-size: 16px;
        overflow: hidden;        
        white-space: normal;
        border-radius: 0px;
        border: 1px;        
        p {
            font-size: 18px;
            color: #fff;
            width: 55%;
            margin: 15px auto 69px;
        }
        span {
            display: inline-block;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.3s;
            -webkit-backface-visibility: hidden;
            -moz-transition: all 0.3s;
            -moz-backface-visibility: hidden;
            transition: all 0.3s;
            backface-visibility: hidden;
            img {
                border-radius: 200px;
                width: 30%;
                margin: 0 auto;
                margin-top: 30%;
            }
        }&:before {
            position: absolute;
            height: 100%;
            width: 100%;
            line-height: 2.5;
            /*font-size: 180%;*/
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            padding-top: 20%;
            padding-left: 10px;
            text-align: left;
        }

    }
    .overlay {
        top: 0;
        left: 0;
        right: 0;
        width: 99%;
        height: 0;
         display: block;
        position: absolute;
        z-index: 20;
        background-color: #33a0d7;
       opacity: 1;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
         h4{
            text-transform: none;
            margin: 60px 0px 0 38px;
            width: 80%;
            color: #fff;
            font-size: 16px;
        }p{
            color: #fff;
            margin: 5px 0px 0 38px;
            width: 80%;
        }
    }
    .hover{
        .overlay {
            height: 100%;
        }    
  
    }
     .btn-greenlight {
            background-color: #b3cf77;
        }
        .btn-blue {
        background-color: #6283ce;
    }
        .btn-brown {
        background-color: #cbb673;
    }
    .btn-green {
            background-color: #38be84;
        }
    .btn-blue-defaut{
            background-color: #33a0d7;
    }
    
}

@keyframes toBack {  
  0% {z-index:0;}
  100% {z-index:1;}
}
@keyframes toFront {
  0% {z-index:1;}
  100% {z-index:0;}
}
.flip-group{
    .flip-items{
        padding: 0;
        /* entire container, keeps perspective */
        .flip-container {
            perspective: 1000px;
             width: 100%;
            height: 360px;
            /* flip speed goes here */
            .flipper {
                transition: 0.6s;
                transform-style: preserve-3d;
                position: relative;
                /* front pane, placed above back */
                .front {
                    z-index: 1;   
                    .flip-icon{
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        left: 0px;
                        top: 0px;
                        text-align: center;
                        img{
                                width: 30%;
                                padding-top: 30%;
                        }
                    }
                    .flip-title{
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        height: 50%;
                        top: 50%;
                        text-align: center;
                        p{
                            color: #fff;
                            font-size: 18px;
                        font-weight: bold;
                               padding: 10%;
                        }
                        
                    }
                }
                /* back, initially hidden pane */
                .back {
                    transform: rotateX(-180deg);                    
                    animation: toFront 0.3s linear normal forwards;
                    .flip-text{
                         position: absolute;
                        top: 14%;
                        width: 80%;
                        left: 9%;
                       
                        h4{
                            font-size: 17px;
                            color: #fff;
                        }
                        p{
                            font-size: 16px;
                            color: #fff;
                        }
                    }
                }
                .only-front{
                    img{
                        width: 100%;
                        height: 360px;
                    }
                    
                }
            }
        }
        .front, .back{
            @extend .flip-container;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility:hidden;
            -webkit-backface-visibility:hidden;
        }
        .vertical{
            &.flip-container {
            position: relative;
                &:hover{
                   .back {
                        animation-delay: 0.3s;
                        animation: toBack 0.3s linear normal  forwards;
                    }
                    .flipper {
                        transform: rotateX(-180deg);
                    }
                }
                .flipper {
                    transform-origin: 100% 180px; /* half of height */
                }
            }
        }
    }
}


/*------------------------ 
        More Information Section
   ---------------------*/

.info-share {
    background-image: url(../img/background/section4.png);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .info-video{
        .video-text {
            padding-top: 5.5%;
            h2 {
                text-transform: none;
                color: #337ab7;
                font-weight: bold;
            }
            hr {
                float: left;
                width: 100%;
                border-top: 1px solid #3f9fcc;
                margin-top: 30px;
            }
            .btn-video {
                text-transform: none;
                background-color: #3f9fcc;
                border-color: #3f9fcc;
                font-size: 16px;
                padding: 12px 25px;
                font-weight: normal;
            }
            .btn-view-ex {
                margin-right: 20px;
                background-color: #ea506c;
                border-color: #ea506c;
                font-size: 16px;
                padding: 12px 25px;
                font-weight: normal;
            }
        }
        .btn-gpvideo {
            margin: 40px 0 20px;
        }  
        .embed-responsive {
            margin-left: 30px;
            box-shadow: 0px 6px 20px 0px rgba(144, 187, 207, 1);
        }
    }
}
/*------------------------ 
        Share Section
   ---------------------*/

.client-share {
    padding: 90px 0 0 0;
    .carousel-indicators {
            width: 54%;
			left: 18%;
			margin-left: -35%;
            top: 345px;
            li {
                background-color: #d8ecf5;
                width: 18px;
                height: 18px;
                margin: 0px 5px;
                &.active {
                    background-color: #3ea0ce;
                }
            }
        }
        h2 {
        font-size: 45px;
        text-transform: none;
        color: #8eafc1;
        margin-bottom: 35px;
    }img {
        border: 7px solid #fff;
        width: 150px;
    }
}

.client-info{
    h4,p{
        color: #1e6083;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 10px;
        text-transform: none;
    }
    p {
        margin-top: 0;
        line-height: 0.5;
    }
    i {
        width: 20px;
        text-align: center;
    }
}

/*------------------------ 
        News Section
   ---------------------*/

.news-section{   
    .news-title{
       
        h2 {
            
            font-size: 25px;            
            text-transform: none;
            color: #1e6083;
            margin: 5px 0;
        }
        .news-line {
            width: 100%;            
            border-top: 1px solid #3f9fcc;
          
        }
        .view-all {
            float: right;
            font-size: 18px;            
            color: #1e6083;
            padding-top: 7px;
            
        }

    }
}

.effects {
    margin-right: -35px;
    margin-top: 25px;
    .img-news {
        position: relative;
        float: left;
        margin-bottom: 5px;    
        overflow: hidden;
        /*margin-left: 7.5%;*/
        img {
            display: block;
            margin: 0;
            padding: 0;
            max-width: 100%;
            height: auto;
        }
    }
}

#effect-news{
    .hover {
        .overlay{
            height: 55%;
        }
    }    
    .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        
        .inside-overlay{           
           position: absolute;
            top: 36%;
            margin-top: -30px;
            p,a {
            color: #fff;
            margin: 5px 0px 0 35px;
            width: 80%;
            font-size: 16px;
        }
        }
        
    }
}


.overlay {
    background:url(../img/background/bg-overlay.png) repeat-x;
    display: block;
    position: absolute;
    z-index: 20;    
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*------------------------ 
       Register Section
   ---------------------*/

.register-now {
    background-image: url(../img/background/register-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
    .reg-overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #2aa0d8;
        opacity: 0.8;    
    }
    .row {
        padding: 90px 0;
        margin-top: 35px;
    }
    .btn-xl {
        background-color: #55c7fc;
        border-color: #55c7fc;
        float: left;
        margin-left: 20px;
    }
    .section-heading {
    color: #fff;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: bold;
    }
    .section-subheading {
        color: #fff;
        width: 100%;
        font-size: 18px;
        }
    .intro-download {
        float: left;
        margin-top: 25px;
        a{
            width: 28%;
        }
    }.form-group {
        margin-bottom: 25px;
        input{
            width: 68%;
            float: left;
            text-align: center;
            height: 48px;
            font-size: 16px;
            box-shadow: 0px 1px 10px 0px rgba(144, 187, 207, 0.5);
            margin-right: 17px;
            &:focus{
                    &::-webkit-input-placeholder { color:transparent; }     
                    &::-moz-placeholder { color:transparent; }
                    &:-ms-input-placeholder { color:transparent; }
                }
        }
    }
}

/*------------------------ 
       Footer
   ---------------------*/

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #3f9fcc;
    .row {
        margin-top: 5px;
    }
    .footer-info {
        color: #fff;
        text-align: left;
        i {
            float: left;
            line-height: 1.8;
        }
        p {
            margin-left: 15px;
            color: #fff;
            font-size: 14px;
        }
    }
    span{
        &.copyright,&.brands {
            line-height: 40px;
            font-size: 16px;
            font-weight: 700;
        }
        &.brands {            
            color: #fff;
            width: 100%;
            text-align: left;
            float: left;
            margin-left: 36px;
        }
    }
    ul{
        &.quicklinks {
            float: left;
            margin-left: 30px;
           /* width: 80%; fix width-1300*/
            width: 90%;
            li {
                float: left;
                padding-top: 10px;
                list-style: none;
            }
            a {
                display: block;
                height: 30px;
                width: 50px;
            }
        }&.social-buttons {
            margin-bottom: 0;
            list-style: none;
            text-align: left;
            li{
                i {
                    text-align: center;

                    height: 20px;
                    width: 20px;
                    border-radius: 10%;
                    font-size: 15px;
                    line-height: 22px;
                    color: #fff;
                    outline: 0;
                    margin-top: 10px;
                    margin-right: 15px;
                }
                a {
                    font-size: 15px;
                    color: #fff;
                }
            }
        }    
    }
}

#vidu {
  min-height: 350px;
  position: relative;
}

#vidu hr.desk-element {
  top: 310px;
  position:absolute;
}
@media all and (min-width:1175px){
     section{
        &.benefit-section{
            .container {
                width: 1200px;
            }
        }
    }
    /*------------------------ 
       Share Section
   ---------------------*/
    .client-share {
        .carousel-indicators {
			top: 350px;
        }
    }
}
@media all and (min-width:1024px){    
      /*------------------------ 
       Navigation
   ---------------------*/
    .navbar-default {
        background-color: transparent;
       /* padding: 25px 30px;*/
        padding: 15px 10px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s
        }
        .navbar-nav{
            .active{
                a {
                        border-radius: 3px
                    }
            }       
            
        }        
        &.navbar-shrink {
            background-color: transparent;
            padding: 10px;
            .navbar-brand {
                font-size: 1.5em;
            }
        }
    }
    .news-section{   
    .news-title{
     .news-heading{
            /*padding-right: 0;
            width: 13%; */          
            @include  padding-width(0px 0px 0px 15px,13%);
        }
        .news-hr{
            /*padding: 0;
            width: 74%;*/
            @include  padding-width(0px,74%);
        }
        .news-view-all{
            /*padding-left: 0;
            width: 13%;*/
            @include  padding-width(0px 15px 0px 0px,13%);
        }
        }
    }
    /*------------------------ 
                Header
   ---------------------*/
    header {
        .intro-text {
            padding-top: 160px;
            padding-bottom: 260px;
            float: right;
            width: 43%;
            text-align: left;
            .intro-lead-in {
                font-size: 18px;
                margin-bottom: 25px;
            }
            h1 {
                text-transform: uppercase;
                font-size: 40px;
                margin-bottom: 10px;
            }
        }
    }
      
    /*------------------------ 
        Sections
   ---------------------*/
    section {
        padding: 100px 0;
        &.benefit-section,&.activity-boxes{
            padding: 90px 0 0;
        }
    }    
    
    /*---News section----*/
    .news-section{
    padding: 0px 0 50px;
    .container{
        width: 1030px;
    }
    }
}
/* */
@media all and (min-width:1439px) {
    .navbar-default {
     .navbar-nav{        
            li{
                a{                
                     
                    padding: 15px 18px;
                }
            }
        }
    }
}

@media all and (min-width:1300px) and (max-width:1439px) {
.navbar-default {
     .navbar-nav{
         position: absolute;   
            top: 38%;
            left: 22%;
            margin-top: -11px;
            margin-left: -162px;
        li{
            a{                
                font-size: 16px; 
                padding: 15px 10px;
            }
        }
    }
      
}
    
.activity-boxes {
    .btn-transform {              
        p {
            
            margin: 15px auto 81px;
        }
    }
}
   
}
/* Desktops */
@media all and (max-width:1280px){
     .navbar-default {       
       
        .navbar-nav{           
         li{
                a{                
                    font-size: 16px; 
                    padding: 18px 7px 15px;
                }
            }
            
        }       
      
    }
    .flip-group{
        .flip-items{

            .flip-container {
                height: 340px;
                .flipper {
                    
                    .only-front{
                    img{
                        
                        height: 340px;
                    }
                    
                }
                }
            }
             .vertical{
            &.flip-container {            
                    .flipper {
                        transform-origin: 100% 170px; /* half of height */
                    }
                }
            }
        }
    }
}
@media all and (max-width:1250px){
    .navbar-default {       
        .navbar-nav{           
         li{
                a{            
                    
                    font-size: 1.2vw; 
                    padding: 18px 8px 15px;
                }
            }
            
        }    
         .navbar-actions {
            
            .navbar-social,.hotline{
                font-size: 1.2vw;            
            }
        }     
      
    }
   
}

@media all and (min-width:1023px)and(max-width:1175px){
     
    .navbar-default {       
        .navbar-nav{           
         li{
                a{            
                    
                    font-size: 1.2vw; 
                    padding: 18px 5px 15px;
                }
            }
            
        }    
         .navbar-actions {
                width: 29%;
            
        }     
      
    }
        section{
         &.benefit-section {
                .container{
                width: 100%;
                     }
            .bs-group{
                .bs-number-animation{
                    .bs-number-content{
                        .bs-number-text{
                            .count-title{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }  
           
        }
    }
    header {
        .intro-text{
            padding-top: 130px;
    padding-bottom: 110px;
    padding: 130px 0 110px 0;
        }
    }
   .info-share{
        .info-video{
        h2{
            
            margin-top: 0;
            font-size: 28px;

        }
        .btn-gpvideo{
                margin: 0px 0 20px;
        }
        .video-text{
            padding-top: 0px;
            hr{
                margin-top: -8px;
            }
        } 
            .btn-hover{
                &.btn-view-new{
                    padding:9px 22px;
                }
            }
            
        .embed-responsive{
            margin-left: 0px;
        }
    }
    }
    .register-now{
        .form-group{
            input{
                width:59%;
            }
        } 
    } 
     /*------------------------ 
       Share Section
   ---------------------*/
    .client-share {
        .carousel-indicators {
            top: 430px;
            left:52%
        }
    }
    
}

@media all and (min-width:768px) and (max-width: 1023px)  {
     section{
         &.benefit-section {
                .container{
                padding: 0px 90px;
             }
         }
    }
        
        .navbar-default{   
                     .mobi-element{
                display: block;
            }
            .desk-element{
                display: none !important;
            }
        .navbar-collapse{
            width: 55%;
            margin: 0 auto 0 35%;
            border-top: none;    
            box-shadow: none; 
            .navbar-actions-mobile{
                margin: 7.5px -45px;

                li{
                    list-style: none;
                    .navbar-circle{
                        img{
                                width: 5%;
                            margin-top: -8px;
                            margin-left: 10px;
                        }
                    }
                    .navbar-social{
                        margin-left: 10px;
                        color:#fff;
                        i{
                            font-size: 25px;
                        }
                    }.btn-register{
                        margin: 10px 0px;
                        padding: 6px 40px;
                        text-transform: none;
                        font-weight: normal;
                        font-size: 16px;
                        color: #3f9fcd;
                        background-color: #fff;
                    }
                    
                }
            }
            &.collapse {
                display: none !important;
                &.in {
                    display: block !important;
                }
            }          
           .navbar-nav {
                float: none;
               li{
                   float: none;
               }
            }
         .navbar-header .collapse, .navbar-toggle {
                display:block !important;
            }
            
        }    
        .navbar-header {
                float:none;
            }
        .navbar-toggle {
            display: block;
                margin-top: 5px;
    margin-right: 35px;
            color:#3fa0cd;
        }
        .navbar-nav{
            li{
                a{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 10px 7px;
                    &.desk-element{
                        display: none;
                    }&.mobi-element{
                        display: block;
                    }
                    
                }
            }
        }        
    }
     .navbar-fixed-top{
        .navbar-collapse {
            max-height: 100%;
        }
        
    }
    
    header{
        .intro-text{
            padding: 80px 0px 90px 0px;
            width: 42%;
            float: right;
            text-align: left;
            h1{
                    font-size: 26px;
            }
            .intro-lead-in{
                font-size: 16px;
            }
            .input-tel{
                    /*margin-left: 15%;*/
                margin-right: 10px;
                    width: 48%;
                height: 30px;
                font-size:14px;
            }
            .btn-hover{
                &.btn-reg-xl{                       
                       height: 30px;
                    padding: 0px 23px;
                    float: left;
                    font-size: 14px;
                }
            }
            .intro-download{
               
                    width: 75%;
                height: 30px;
            }
            .form-group{
                margin-bottom: 85px;
            }
        }
    }
     .benefit-section{
        .bs-group{
            &.bs-group-first{
                margin-bottom: 0;
            }
            .bs-img{
                img{
                    margin: 0 auto;
                }
                
            }  
            .bs-number-animation{
                padding: 0 0 0 40px;
            }
        }
        .tablet-bs{
            margin-top: 55px;
        }
    } 
     .flip-group{
        .flip-items{
            .flip-container{
                .flipper{
                    .front{
                        .flip-icon{
                    img{
                        padding-top: 20%;
                    }
                } 
                    }
                    
                }
                
            }
        }
    }   
       
    .activity-boxes{
        padding: 90px 0 0 0px;
    }
    #vidu {
      min-height: 400px;
      position: relative;
    }
    #vidu hr.desk-element {
      top: 300px;
      position:absolute;
    }
    
    #more_info_text{
      height: 240px;
    }
}
/* Tablets */

@media all and (min-width: 752px) and(max-width: 768px){
   
        .navbar-default{   
                     .mobi-element{
                display: block;
            }
            .desk-element{
                display: none !important;
            }
        .navbar-collapse{
            width: 55%;
            margin: 0 auto 0 35%;
            border-top: none;    
            box-shadow: none; 
            .navbar-actions-mobile{
                margin: 7.5px -45px;

                li{
                    list-style: none;
                    .navbar-circle{
                        img{
                                width: 5%;
                            margin-top: -8px;
                            margin-left: 10px;
                        }
                    }
                    .navbar-social{
                        margin-left: 10px;
                        color:#fff;
                        i{
                            font-size: 25px;
                        }
                    }.btn-register{
                        margin: 10px 0px;
                        padding: 6px 40px;
                        text-transform: none;
                        font-weight: normal;
                        font-size: 16px;
                        color: #3f9fcd;
                        background-color: #fff;
                    }
                    
                }
            }
            &.collapse {
                display: none !important;
                &.in {
                    display: block !important;
                }
            }          
           .navbar-nav {
                float: none;
               li{
                   float: none;
               }
            }
         .navbar-header .collapse, .navbar-toggle {
                display:block !important;
            }
            
        }    
        .navbar-header {
                float:none;
            }
        .navbar-toggle {
            display: block;
                margin-top: 5px;
    margin-right: 35px;
            color:#3fa0cd;
        }
        .navbar-nav{
            li{
                a{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 10px 7px;
                    &.desk-element{
                        display: none;
                    }&.mobi-element{
                        display: block;
                    }
                    
                }
            }
        }        
    }
     .navbar-fixed-top{
        .navbar-collapse {
            max-height: 100%;
        }
        
    }
    header{
        .intro-text{
            padding: 100px 0px 70px 0px;
            width: 55%;
            float: right;
            h1{
                    font-size: 30px;
            }
            .intro-lead-in{
                font-size: 16px;
            }
            .input-tel{
                    margin-left: 15%;
                margin-right: 10px;
                width: 45%;
                height:40px;
            }
            .btn-hover{
                &.btn-reg-xl{
                        height: 39px;
                    padding: 5px 23px;
                    float: left;
                }
            }
            .intro-download{
                margin-left: 55px;
                    width: 75%;
                height: 30px;
            }
            .form-group{
                margin-bottom: 85px;
            }
        }
    }
    
    .benefit-section{
        .bs-group{
            &.bs-group-first{
                margin-bottom: 0;
            }
            .bs-img{
                img{
                    margin: 0 auto;
                }
                
            }  
            .bs-number-animation{
                padding: 0 0 0 40px;
            }
        }
        .tablet-bs{
            margin-top: 55px;
        }
    } 
  
    .activity-boxes{
        padding: 100px 0 0 0;
    }
    .flip-group{
        .flip-items{
            .flip-container{
                .flipper{
                    .front{
                        .flip-icon{
                    img{
                        padding-top: 20%;
                    }
                } 
                    }
                    
                }
                
            }
        }
    }   
    .info-share{
        .info-video{
        h2{
            
            margin-top: 0;
            font-size: 28px;

        }
        .btn-gpvideo{
                margin: 0px 0 20px;
        }
        .video-text{
            padding-top: 0px;
            hr{
                margin-top: -8px;
            }
        } 
        .embed-responsive{
            margin-left: 0px;
        }
    }
    }
    .news-section{
        .news-title {
            .news-view-all{
                padding: 0px;
                
            }
            .news-hr{
                    width: 65%;
            }
        }
    } 
    .register-now{
        .section-heading{
            font-size: 38px;
        }
        .form-group{
            input{
                width: 49%;
            }
        } 
    } 
   .footer-social{
        padding-right: 0px; 
    }
    .intro-download{
        width: 93%;
    }
}
/* Phone */

@media all and (min-width:320px) and (max-width:752px) {   
    .desk-element{
        display: none;
    }
    .mobi-element{
    display: block;
    }
    p{
        font-size: 1em;
    }
    .navbar-default{       
        .navbar-collapse{
            width: 55%;
            margin: 0 auto 0 30%;
            border-top: none;    
            box-shadow: none; 
                overflow: hidden;
            .navbar-actions-mobile{
                margin: 7.5px -45px;

                li{
                    list-style: none;
                    .navbar-circle{
                        img{
                            width: 10%;
                            margin-top: -8px;
                        }
                    }
                    .navbar-social{
                        margin-left: 10px;
                        color:#fff;
                        i{
                            font-size: 25px;
                        }
                    }.btn-register{
                        margin: 10px 0px;
                        padding: 6px 40px;
                        text-transform: none;
                        font-weight: normal;
                        font-size: 16px;
                        color: #3f9fcd;
                        background-color: #fff;
                    }
                    
                }
            }
        }        
        .navbar-toggle {
                margin-top: 5px;
    margin-right: 35px;
            color:#3fa0cd;
        }
        .navbar-nav{
            li{
                a{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 10px 7px;
                    &.desk-element{
                        display: none;
                    }&.mobi-element{
                        display: block;
                    }
                    
                }
            }
        }        
    }
    .navbar-fixed-top{
        .navbar-collapse {
            max-height: 100%;
        }
        
    }
    header {
    background-image: url(../img/background/header-bg-mobile.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
   
    text-align: center;
        color: #fff;
        .intro-text {
            padding: 0px;
            h1{
                font-size: 30px;
            }
            .intro-lead-in {
                font-size: 16px;
                padding-right: 0px;
            }
            .input-tel{
                width: 100%;
                    /*margin-bottom: 30px;*/
            }
            .btn-xl{
                width:100%;
               margin: 20px 0;
                float: right;
            }
            .intro-download{
                   padding: 0 80px;
                    
                img{
                    width: 80%;
                }
            }
            .arrow-down{
                 margin: 100% 0 8%;
                width: 100%;
                img{
                    width: 25%;
                }
                
            }
        }
        .navbar-brand{
            float: inherit;
            display: block;
                margin-bottom: 55px;
            img{
                margin: 0 auto;
            }
        }
    }
    
    .benefit-section{
            padding: 20px 0;
        h2{
            font-size: 2em;
        }
        .bs-group{
            padding: 10px 0 0;
            &.bs-group-first{
                margin-bottom: 0px;
            }
            .bs-img{
                margin-right: 10px;
            }
            .bs-content{                
                p{
                    font-size: 1em;
                }
                
            }
            .bs-number-animation{
                h3{
                    font-size: 26px;
                }
                .bs-number-content {
                    .bs-number-text{
                        .count-title{
                            font-size: 26px;
                            margin-right: -10px;
                            margin-left: 6px;
                        }
                        p{
                            line-height: 1.2;
                             font-size: 14px;                           
                           
                        }                        
                        .bs-right-num{
                            margin-left: -20px;                           
                        }
                    }
                    .bs-number-title{
                        font-size: 14px;
                        font-weight: 700;
                        &.bs-right{
                            margin-left: -20px;
                        }
                    }
                    
                } 
                .bs-right{
                    margin-left: -12px;
                }
                .bs-number-icon {
                    img{
                        width:15px;
                    }
                }
            } 
            p{
                &.bs-note{
                    font-size: 12px;
                }
            }
        }
        .tablet-bs{
            margin-top: 45px;
        }
    } 
    .activity-boxes{
        background-image: none;
        padding: 40px 0;
        .btn-transform{
            span{
                img{
                    width: 18%;
                    padding: 10px 0;
                    float: left;
                    margin: 0 0 0 15px;
                }
                p{
                    font-size: 16px;
                    width: 100%;
                    margin: 20px auto;
                }
            }
        }  
        .collapse-box{            
            margin-top: -10px;
            margin-bottom: -10px;
            font-size: 14px;
            padding: 10px 20px;
            &.btn-bluelight{
                background-color: #33a0d7;
            }
            h4{
                padding: 20px 0 0px 5px;
                font-size: 14px;
                text-transform: none;
                color:#fff;
            }
            p{
                padding: 5px;
                color:#fff;
                font-size: 14px;
            }            
        }
    }
    .info-share {
        background-image: none;
            padding: 0;
        .info-video{
            .video-text{
                h2{
                    font-size: 26px;
                }
                p{
                    font-size: 1.2em;
                }
                .btn-hover{
                    &.btn-video-new{
                        float: none;
                    }
                }
            }
            .btn-gpvideo{
                margin: 30px 5px;
            }
            .embed-responsive{
                position: static;
            }.video-mobile{
                width: 90%;
                margin: 0 auto;
            }
            
        }
    }  
    .client-share{
        h2{
           padding-right: 20px;
            padding-left: 20px;
        }
        .client-info{
            margin: 10px 0 25px;
            h4{
                padding-top: 35px;
                font-size: 16px;
            }
        }
        img{
                float: left;
                width: 120px;
            }
        .carousel-indicators{
            top: 100%;
            left: 23.5%;
        }
        .carousel{
            padding: 0 10px;
        }
    } 
    .news-section{
        padding: 50px 0 50px;
        .news-title{
            h2{
                
                font-size: 18px;
                /*padding-left: 25px;*/
            }
            .news-heading{
               /* width: 100%;*/
            }
            .news-line{
                    width: 100%;                
            }
            .view-all{
               /* padding-right: 25px;*/
                font-size: 13px;
            }
        } 
    } 
    
    #effect-news {
        .overlay{
            height: 40%;
            p{
                margin: 25px 0px 0 35px;
            }
        }
        .img-news{
            margin-left: 0;
            img{
                width: 430px;
            }
        }
    }
         
    .register-now{
        text-align: center;
         /*padding: 0 20px;*/
        .section-heading{
            font-size: 30px;
        }
        .section-subheading{
            width: 100%;
            font-size: 16px;
        }
        .intro-download{
                   padding: 0 80px;
                    
                img{
                    width: 80%;
                }
            }
            .form-group{
                input{
                    width: 100%;
                    margin-bottom: 20px;
                }
            } 
            .btn-xl{
                width:100%;
                margin-left: 0;
            }
    }      
    footer {
        .footer-info{
            padding:0 30px;
        }
        ul{
            
            &.social-buttons{
                width: 100%;
                margin-left: -25px;
                    li{
                        i{
                            margin-right: 0;
                        }
                        a{
                            font-size: 14px;
                        }
                    &.col-left{
                        float: left;
                    }
                    &.col-right{
                        float: right;
                        &:nth-child(4) {
                           margin-right: 48px;
                        }
                    }
                }           
               
            }
            &.quicklinks{
                margin-left: 10px;
                width: 100%;
                li{
                    padding: 0 2px;
                }
            } 
        }
        span{
            &.brands{
                margin-left: 18px;
            } 
        }
    }
       
    
}

@media all and (max-width:320px) {
    .effects{
        .img-news{
            margin: 0 auto;
        }
    } 
    #effect-news{
        .overlay{
            p{
                margin: 8px 0px 0 16px;
                font-size: 1em;
                width: 100%;
            }
        }
    }  
    .client-share{
        img{
            width: 100px;
        } 
        .client-info{
            h4{
                padding-top: 28px;
                font-size: 14px;
            } 
            p{
                font-size: 13px;
            }
        } 
        .carousel-indicators{
                left: 28%;
        }
    } 
    .register-now{
        .section-heading{
            font-size: 25px;
        }
        .section-subheading{
            font-size: 14px;
        }
        .intro-download {
            width: 100%;
            img{
                width: 100%;
            }
            a{
            width: 35%;
            &.icon-apple{
               margin-left: -15px;
            }
            &.icon-webapp{
                margin-right: -15px;
            }
        }
        }
        
    }
    footer {
        span{
            &.copyright,&.brands{
                font-size: 14px;
            }
        }
        ul{
            &.social-buttons{
                    margin-left: -13px;
                li{
                    i,a{
                        font-size:13px;
                    }
                    i{
                        margin: 0;
                    }
                    &.col-right{
                        margin-right: 8px;
                        &:nth-child(4){
                            margin-right: 52px;
                        }
                    }
                    
                }
            }
        } 
        .footer-social{
            padding: 0;
        }
        .footer-info{
            p{
                font-size: 13px;
            }
        } 
        
    }
    .benefit-section{
        .bs-group{
            .bs-number-animation{
                h3 {
                    font-size: 18px;}
                .bs-number-content{
                    .bs-number-title{
                        font-size: 13px;
                    }
                    .bs-number-text{
                        p{
                            &.number-left,&.number-right{
                                font-size: 12px;
                            }
                        }
                    } 
                } 
            }
        }
    }   
    .btn-hover{
        &.btn-video-new{
            padding: 10px 22px;
                margin-top: -52px;
    margin-left: 125px;
        }
        &.btn-view-new{
                padding: 12px 20px;
        }
    }
     .news-section{
        
        .news-title{
            h2{
                
                font-size: 15px;
                /*padding-left: 25px;*/
            }
            .news-heading{
               /* width: 100%;*/
            }
            .news-line{
                    width: 100%;                
            }
            .view-all{
               /* padding-right: 25px;*/
                font-size: 15px;
            }
        } 
    } 
}
